name: CD - Docker Hub (optional)

on:
  push:
    branches: [ main ]

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push server image
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/knovator-server:latest,${{ secrets.DOCKERHUB_USERNAME }}/knovator-server:${{ github.sha }}

      - name: Build and push worker image
        uses: docker/build-push-action@v4
        with:
          context: ./worker
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/knovator-worker:latest,${{ secrets.DOCKERHUB_USERNAME }}/knovator-worker:${{ github.sha }}

      - name: Build and push client image
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/knovator-client:latest,${{ secrets.DOCKERHUB_USERNAME }}/knovator-client:${{ github.sha }}
